@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Aluno @ViewData["Aluno"]</p>
<address>
    <strong>More information:</strong> <a href="https://docs.microsoft.com/pt-br/aspnet/mvc/overview/getting-started/introduction/getting-started">Introdução ao ASP.NET MVC 5</a>
</address>